body{
  min-width: 300px;
  margin: 0px;
  font-family: Segoe UI, Arial, sans-serif;
  font-size: 13px;
  color: #545454;
  background-color: #ffffff;
}
header {
	height: 52px;
	margin-bottom: 0px;
	border-bottom: 1px solid #e1ddd8;
	background-color:#010638;
}
#logo {
	display: block;
	position: relative;
	top: 15px;
	margin: 0px auto;
}
footer {
	cursor: pointer;
	padding: 10px 55px;
	border-top: 1px solid #e1ddd8;
	background-color:#010638;
}
#social{
	position: relative;
	padding:0px 10px;
}
#link{
	outline:none;
	float:right;
}
a img {outline : none;}
a {outline : none;}
img {border : 0;}
