body{
	min-width: 200px;
	margin: 0px;
	font-family: Segoe UI, Arial, sans-serif;
	font-size: 13px;
	color: #545454;
	background-color: #ffffff;
	background-image:url("img/background.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.form-signin-heading{
	margin: 5px 5px 5px 5px;
}
.btn{
	margin: 8px 0px 8px 0px;
}
#logo {
	max-height: 200px;
}
#options {
	margin: 5px 0px 5px 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 5px;
	border-top: 1px solid #e1ddd8;
	background-color:#010638;
}
#social{
	position: relative;
	padding:0px 10px;
}
#link{
	outline:none;
	float:right;
}
a img {outline : none;}
a {outline : none;}
img {border : 0;}
